
.footer {
    display: flex;
    justify-content: center;
    gap: 55%;
    align-items: center;
    background-color: #124561;
    color: white;
    /* padding: 10px 10px; */
    /* padding: 5px; */
    border-top: 2px solid #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-logo {
    height: 30px;
    width: 65px;
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.footer-logo img {
    height: 90%;
    width: 100%;
   
}

.footer-text h2 {
    margin: 0;
    font-size: 1.5em;
}
